@font-face {
  font-family: 'PTSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('../fonts/PTSans-Regular.woff2') format('woff2'),
    url('../fonts/PTSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'PlayfairDisplay';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
}

@font-face {
  font-family: 'PlayfairDisplay';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
}
@font-face {
  font-family: 'PostNoBillsJaffna';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('../fonts/PostNoBillsJaffna-Bold.woff2') format('woff2'),
    url('../fonts/PostNoBillsJaffna-Bold.woff') format('woff');
}