$main: #969696;
$white: #fff;
$black: #000;
$bg: #0F0F0F;
$grey: #D0D0D0;

%bg{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

%mask{
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}

%ptsans{
  font-family: 'PTSans', sans-serif;
  font-weight: 400;
}