.brands {
  background-color: $bg;
  padding: 60px 0 80px;

  @include mq('tablet') {
    padding: 60px 0;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include mq('tablet-2') {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__title {
    margin-bottom: 40px;
  }
}