.collection {
  background-color: $black;

  &__title {
    margin-bottom: 50px;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq('desktop') {
      &:first-child {
        flex-direction: column;
        margin-bottom: 45px;
      }
    }
  }

  &__box {
    padding: 93px 0;
    margin-right: 30px;
    max-width: 1040px;
    width: 100%;

    @include mq('tablet-2') {
      margin-right: 0;
    }
  }

  &__list {
    display: flex;
    justify-content: center;

    @include mq('phone') {
      flex-wrap: wrap;
    }
  }

  &__list-item {
    &:not(:last-child) {
      margin-right: 50px;

      @include mq('tablet') {
        margin-right: 20px;
      }

      @include mq('phone') {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  &__new-title {
    margin-bottom: 30px;

    @include mq('phone') {
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
  }

  &__new {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);

    @include mq('phone') {
      bottom: 15px;
    }
  }

  &__new-box {
    position: relative;
  }

  &__content {
    max-width: 1040px;
    width: 100%;
  }

  &__item-title {
    margin-bottom: 40px;
  }

  &__text {
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 73px;
    @extend %ptsans;
  }

  &__btn {
    padding: 12px 28px;
    border: 1px solid $white;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    @extend %ptsans;
    font-size: 18px;
    display: flex;
    margin: 0 auto;
    z-index: 1;
  }

  &__item-box {
    max-width: 880px;
    width: 100%;
    margin-right: 20px;

    @include mq('tablet') {
      display: none;
    }
  }
}